h1, h3, h5 {
  text-align: center;
}

article {
  border: 2px solid black;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

article h1 {
  text-decoration: underline;
}

article p {
  text-align: left;
}

article h1:hover {
  cursor: pointer;
}
